# dependencies
node_modules/

# build
dist/
web-build/

# Vite
*.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Old Expo files
.expo/
expo-env.d.ts
web-mocks/
